{% extends 'base.html' %}
{% load static %}

{% block title %} Галерея {% endblock %}
{% block pageName %}Посмотрим?{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for photo_item in object_list %}
  <div class="col">
    <div class="card h-100 text-center">
      <img src="{% if photo_item.photo %}{{ photo_item.photo.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
           class="card-img-top h-50" alt="{{ photo_item.title }}">

      <div class="card-body">
        <h5 class="card-title">{{ photo_item.title }}</h5>
        <a href="{{ photo_item.get_absolute_url }}" class="btn btn-primary" style="background: #6ab000; border: none;">Смотреть</a>
      </div>

    </div>
  </div>
  {% endfor %}
</div>
<br>

        {% if page_obj.has_other_pages %}
            <div class="pagination justify-content-center">
                <span class="step-links">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">

                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" style="color: #437000;">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">&laquo;</a>
                            </li>
                        {% endif %}

                        {% for pageNum in paginator.page_range %}
                            <li class="page-item {% if pageNum == page_obj.number %} active {% endif %} ">
                                <a class="page-link" href="?page={{ pageNum }}"  style="color: #437000;">{{ pageNum }}</a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next" style="color: #437000;">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                            </li>
                        {% endif %}

                      </ul>
                    </nav>
                </span>
            </div>
        {% endif %}
{% endblock %}